{{!-- post section --}}
<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div id="post-header-wrapper">
                    <div id="post-title">
                        <span class="card-title">{{posts.title}}</span>
                    </div>
                    <div id="post-author">
                        <span class="card-text">Posted by <a>{{posts.user.displayName}}</a> on
                            {{posts.created_at}}</span>
                    </div>
                </div>
                <div id="post-content" class="white black-text">
                    <p>{{posts.content}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add comment component -->
<div class="row">
    <div class="col s12 m10 offset-m1 comment-card">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <div id="create-post-header">
                    <span class="card-title">Add New Comment</span>
                </div>
                <div id="p-divider" class="divider"></div>
                <div class="row">
                    <div class="input-field col s12">
                        <p>Please enter your comment:</p>
                        <p contenteditable="true" id="new-comment-body"></p>
                    </div>

                    <div class="input-field col s6">
                        <button id="cancel-new-comment-button" class="btn waves-effect waves-light fwb orange"
                            type="button" name="action">Cancel</button>
                    </div>

                    <div class="input-field col s6">
                        <button id="add-new-comment-button" class="btn waves-effect waves-light fwb green"
                            type="submit" name="action">Create</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/addComment.js"></script>